# Ignore PlatformIO build and cache folders
**/.pio/
**/.vscode/
**/build/
**/libdeps/
**/.cache/
**/.clangd/
**/.DS_Store
.vscode/

# Ignore compiled binaries
*.bin
*.elf

# Ignore Python virtual environment (if using one)
**/.venv/


.env.prod
.env.development
.env.production
nginx-config.txt

gait-analysis-frontend/.env
gait-analysis-backend/src/main/resources/cleanup.sql
gait-analysis-backend/src/main/resources/scenario1_test.sql
gait-analysis-backend/src/main/resources/scenario1-script.sql
gait-analysis-backend/src/main/resources/scenario2_test.sql
gait-analysis-backend/src/main/resources/scenario2-script.sql
load-testing
POC/WifiNode/src/main.cpp
POC/WifiNode/src/2025-07-16 WifiNode Working.txt
