# Ignore PlatformIO build and cache folders
**/.pio/
**/.vscode/
**/build/
**/libdeps/
**/.cache/
**/.clangd/
**/.DS_Store
.vscode/

# Ignore compiled binaries
*.bin
*.elf

# Ignore Python virtual environment (if using one)
**/.venv/

# prod branch update (ci cd workflow)
.github/
.idea/
data-processing-service/
docs/
hardware-testing/
mobile-app/
POC/
POC.code-workspace
.env.prod
gait-analysis-frontend/.env
gait-analysis-frontend/.env.development
gait-analysis-frontend/.env.production
nginx-config.txt
