# Ignore PlatformIO build and cache folders
**/.pio/
**/.vscode/
**/build/
**/libdeps/
**/.cache/
**/.clangd/
**/.DS_Store
.vscode/

# Ignore compiled binaries
*.bin
*.elf

# Ignore Python virtual environment (if using one)
**/.venv/


.env.prod
.env.development
.env.production
nginx-config.txt

gait-analysis-frontend/.env
