@import "./variables";
@import "./commonStyles";

.section-system-design {
  padding: 9.6rem;
  min-height: 100vh;
  @include column();
  align-items: center;
  gap: 6.4rem;
}

.system-design-img {
  width: 75rem;
}
